body {
    margin: 0;
}

.nav-container {
    box-sizing: border-box;
    padding: 14px 15px;
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
    font-size: 13px;
}

.mg-glass {
    height: 30px;
    margin-bottom: 9px;
}

.main-image img {
    height: 600px;
    width: 100%;
    position: relative;
    background-color: black;
    object-fit: cover;
    display: block;
    height: 100%;
}

.search-area-container {
    background-color: black;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.search-area-container p {
    display: flex;
    justify-content: center;
    color: white;
}

.search {
    display: flex;
    align-items: center;
    margin: 0;
}

.search input {
    height: 35px;
    width: 200px;

}

.search img {
    height: 39px;
    width: 30px;
}

h3 {
    letter-spacing: 0.3em;
}

.shopping-tools-icons {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 30%;
    margin-right: 30%;

}

.shopping-tools h3,
h3 {
    margin: 50px;
    text-align: center;
    letter-spacing: 0.3em;
}

.shopping-tools-icons img {
    width: 100px;
}

.shopping-tools-icons img:hover {
    width: 100px;
    filter: brightness(120%);
}

.shopping-tools-icons p,
a {
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.shopping-tools-icons p:hover {
    font-size: 15px;
    color: black;
    text-decoration: underline black;
}

.offers-p {
    padding-left: 20px;
}

hr {
    margin: 20px;
}

.current-offers {
    text-align: center;
    color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.offer-box {
    background-color: white;
    border: 0.2px solid aliceblue;
    width: 370px;
    margin: 10px;
    overflow: hidden;
}

.car {
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease 0s;
    opacity: 1;
}

.car:hover {
    transform: scale(1.2);
}

.offer-box button {
    background-color: white;
    padding: 15px 28px;
}

.offer-box button:hover {
    background-color: black;
    color: white;
    padding: 15px 28px;
}

.offer-info h3 {
    font-size: 100%;
}


.explore-lexus-img {
    display: flex;
    justify-content: center;
}

.lexus-items-container {
    box-sizing: border-box;
    padding: 14px 15px;
    width: 50%;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
}

.lexus-item:hover {
    font-weight: bolder;
}


.future-vehicles-list {
    /* display: grid;
    grid-auto-columns: 33.3%; */
    display: flex;
    flex-wrap: wrap;
}

.vehicle {
    position: relative;
    width: 50%;
    padding: 3px;
    box-sizing: border-box;
    margin-bottom: 35px;
    overflow: hidden;
}




/* ------ PRODUCT PAGE --------- */

.lexus-show-page {
    position: relative;
    text-align: center;
}

.lexus-show-page-button {
    text-align: center;
    width: 100%;
    position: static;
    padding-bottom: 50px;
}